* {
    margin: 0;
    padding: 0;
}

.Navbar {  
    height: 60px;
    background: none;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0.2em 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(10px);
    color: #000;
}
#nav-items-side-bar{
    position: fixed;
    right: 0;
    top: 0;
    height: 17rem;
    width: 200px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(149, 146, 146, 0.275);
    display: flex;
    text-align: start;
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    display: none;
    

}
#nav-items-side-bar li {
    margin: 20px 0;
    color: #fff;
    list-style: none;
    
   
}
#nav-items-side-bar li a{
    text-decoration: none;
    color: #000;
    
}
#nav-items-side-bar button{
    margin: 20px 0;
    width: 100%;
}
#logo {
    display: flex;
    gap: 1rem;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background: none;
}
#logo p,span{
    background:none;
}

#logo span {
    color: #7e61e7;

}

.Navbar-Container {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.2rem;
    background: none;
    /* border: 2px solid red; */
}

#nav-items {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    background: none;
}
#nav-items li{
    background: none;
    font-size: 20px;
}
#nav-items a {
    text-decoration: none;
    color: white;
    background: none;
}
.menu-item{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.menu-item::before{
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg,#a993fe 0%,#7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}
.menu-item:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}


.main-btn {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg,#a993fe 0%,#7e61e7 100%);
    padding: 0.6rem 3rem;
   
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.signInBtn {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7e61e7;
    /* background: linear-gradient(90deg, #fe93a3 0%, #e76161 100%); */
    /* padding: 0.6rem 2rem; */
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: none;
}
.signInBtn:hover{
    color: #a993fe;
}
.menu-bar{
    color: #7e61e7;
    font-size: 2rem;
    display: none;
    margin-right: 20px;
    background: none;
}
@media (max-width:769px) {
    .menu-bar{
        display: block;
    }
    #nav-items{
        display: none;
    }
    #nav-items-side-bar{
        display: block;
    }
}
